<h1>Add a New Member</h1>

<p>Please fill out all fields. Separate keywords with spaces.</p>

<form action='/create' method='post' id='add_form'>
  <label for='first_name'>First Name:</label>
  <input type='text' name='first_name' id='first_name'/>

  <label for='last_name'>Last Name:</label>
  <input type='text' name='last_name' id='last_name'/>

  <label for='username'>Username:</label>
  <input type='text' name='username' id='username'/>

  <label for='keywords'>Keywords:</label>
  <input type='text' name='keywords' id='keywords'/>

  <button type='submit'>Add Member</button>
</form>
