<p>This is a demonstration of a simple Redis-based keyword search.
The construction of the search is simple enough that it could be
applied easily to other data structures.</p>

<%= erb :search_form %>

<p align='center'>Searching through <%= @member_count %> members. Want to <a href='/add'>Add Your Own</a>?</p>
