<!doctype html>
<html>
  <head>
    <title>Redis Keyword Search</title>
    <link rel='stylesheet' href='/master.css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <header id='top'>
      <h1><a href='/'>Redis Keyword Search</a></h1>
    </header>
    <section id='content'>
      <%= yield %>
    </section>
    <footer id='bottom'>
      Copyright &copy; 20111 Michael Bleigh. Created for a <a href='http://cloudspokes.com'>Cloudspokes</a> competition.
    </footer>
  </body>
</html>
